<script type="text/javascript">
    $(document).ready(function () {
        //start - CREATE JOB modal

        /*$("#button-new-job").click(function () {
            $("#job-add").fadeIn();

        $("#button-new-job").click(function () {
            $("#job-form").fadeIn();

            return false;
        });
        $("#job-form .modal-close, #job-form .white-shadow").click(function () {
            $("#job-form").fadeOut();
            $(".form-control").val("");
            return false;
        });*/
        //end - CREATE JOB modal
    });
</script>
<div class="controller">
    <div class="container clearfix">
        <h1 class="page-title">My Jobs</h1>
        <div id="button-new-job" class="btn-add"><a href="javascript:;" ng-click="open()">Create job</a></div>
    </div>
</div>
<ul class="jobs-list container clearfix">
    <li class="job" data-ng-repeat="(k,j) in jobs">
        <div class="action">
            <ul>
                <li class="archive"><a href="javascript:;" ng-click="confirmArchive(k)"><span>Archive</span></a>
                </li>
                <li class="delete"><a href="javascript:;" ng-click="confirmDelete(k)"><span>Delete</span></a>
                </li>
            </ul>
            <a class="open-job" href="javascript:;" ng-click="openJob(j)">Open Job</a>
        </div>
        <span class="job-logo"><img src="/images/participants/placeholder.png" class="placeholder-image"/></span>

        <h2>{{j.title}}</h2>
        <span class="last-update">Last update <strong>{{j.created}}</strong></span>
        <ul class="participants clearfix">
            <li><a href="participant.html">CZ</a></li>
            <li><a href="participant.html">KV</a></li>
            <li><a href="participant.html">LP</a></li>
        </ul>
    </li>
</ul>

<script type="text/ng-template" id='jobmodal.html'>
    <div id="job-add" class="form-modal">
        <div class="white-shadow" ng-click="cancel()"></div>
        <div class="modal-dialog">
            <form ng-submit="ok(job)">
                <fieldset class="clearfix">
                    <legend>Create new job</legend>
                    <div class="modal-header">
                        <h3 class="modal-title">Create a job</h3>
                        <div class="modal-close" ng-click="cancel()"></div>
                    </div>
                    <div class="modal-body">
                        <input ng-model="job.name" class="form-control" type="text" placeholder="Name of the job" />
                        <span class="text-danger" ng-show="message != null">{{message}}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" ng-click="ok(job)">Create job</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="deletemodal.html">
    <div id="job-add" class="form-modal">
        <div class="white-shadow" ng-click="cancel()"></div>
        <div class="modal-dialog">
            <div class="modal-header">
                <h3 class="modal-title custom-font">Delete {{job.title}}</h3>
                <div class="modal-close" ng-click="cancel()"></div>
            </div>
            <div class="modal-body">
                <h3 class="modal-title">Are you sure you want to delete this job?</h3>
            </div>
            <div class="modal-footer btn-add">
                <a href="javascript:;" ng-click="yes(1)">Yes</a>
                <a href="javascript:;" ng-click="cancel()">No</a>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="archivemodal.html">
    <div id="job-add" class="form-modal">
        <div class="white-shadow" ng-click="cancel()"></div>
        <div class="modal-dialog">
            <div class="modal-header">
                <h3 class="modal-title custom-font">Archive {{job.title}}</h3>
                <div class="modal-close" ng-click="cancel()"></div>
            </div>
            <div class="modal-body">
                <h3 class="modal-title">Are you sure you want to archive this job?</h3>
            </div>
            <div class="modal-footer btn-add">
                <a href="javascript:;" ng-click="yes(1)">Yes</a>
                <a href="javascript:;" ng-click="cancel()">No</a>
            </div>
        </div>
    </div>
</script>
