.controller div.jobs-select:hover ul {
    display: block;
}

.controller div.jobs-select ul {
    display: none;
    position: absolute;
    z-index: 9;
    width: 240px;
    background-color: #fff;
    border: 1px solid #C6D1DB;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, .04);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .04);
    top: 150px;

}

.controller div.jobs-select ul:before {
    position: absolute;
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-right: 7px solid transparent;
    border-bottom-color: #C6D1DB;
    top: -8px;
    left: 20px;
    content: '';
}

.controller div.jobs-select ul:after {
    position: absolute;
    display: inline-block;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-right: 6px solid transparent;
    top: -6px;
    left: 21px;
    content: '';
}

.controller div.jobs-select ul li {
    display: block;
}

.controller div.jobs-select ul li a {
    line-height: 50px;
    padding: 0 16px;
    display: block;
    font-size: 16px;
    color: #2D3644;
    font-weight: 400;
    box-shadow: 0 1px 0 #DEE3E8;
    -moz-box-shadow: 0 1px 0 #DEE3E8;
    -webkit-box-shadow: 0 1px 0 #DEE3E8;
}

.controller div.jobs-select ul li a:hover {
    color: #FE4676;
}

.controller div.jobs-select ul li:last-child a {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}